<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="backbar">
          <h5 class="page-heading">
            <ion-icon routerLink="/dashboard" name="arrow-back"></ion-icon> &nbsp; Invitation
          </h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <h5 class="list-heading-2">New Invitation Recived</h5>
          <ion-item class="rest_address_item mb-20"  *ngFor=" let invite of invitaionList; let i =index"  (click)="presentInvitationModal(i)">
            <ion-label>
              <h5   [ngClass]="((invite.status ==3)|| (invite.status ==2))?'invi-date danger':'invi-date primary'">{{invite.toDate | date:'EEE,  d MMM ,  y'}} </h5>
              <p class="small-content">Invitation | {{invite.userDetails.name}}</p>
              <!-- <span class="km-part"> {{invite.userDetails.name}} 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span> -->
            </ion-label>
          </ion-item>

          <!-- <ion-item class="rest_address_item mb-20" (click)="presentInvitationModal()">
            <ion-label>
              <h5 class="rest-heading primary">Today, 04:30 PM</h5>
              <p class="small-content">Invitation @ Chai sutta bar</p>
              <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
            </ion-label>
          </ion-item> -->
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col>
          <h5 class="list-heading-2">Upcoming Invitations</h5>
          <ion-item class="rest_address_item mb-20" (click)="presentInvitationModal()">
            <ion-label>
              <h5 class="rest-heading primary">Today, 04:30 PM</h5>
              <p class="small-content">Invitation @ Chai sutta bar</p>
              <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
            </ion-label>
          </ion-item>

          <ion-item class="rest_address_item mb-20" (click)="presentInvitationModal()">
            <ion-label>
              <h5 class="rest-heading primary">Today, 04:30 PM</h5>
              <p class="small-content">Invitation @ Chai sutta bar</p>
              <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <h5 class="list-heading-2">Past Invitations</h5>
            <ion-item class="rest_address_item mb-20" (click)="presentInvitationModal()">
              <ion-label>
                <h5 class="rest-heading primary">26 Aug, 04:30 PM <span class="ion-float-right success">Accepted</span></h5>
                <p class="small-content">Invitation @ Chai sutta bar</p>
                <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
              </ion-label>
            </ion-item>

            <ion-item class="rest_address_item mb-20" (click)="presentInvitationModal()">
                <ion-label>
                  <h5 class="rest-heading primary">26 Aug, 04:30 PM <span class="ion-float-right danger">Rejected</span></h5>
                  <p class="small-content">Invitation @ Chai sutta bar</p>
                  <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
                </ion-label>
              </ion-item>

              <ion-item class="rest_address_item mb-20" (click)="presentInvitationModal()">
                  <ion-label>
                    <h5 class="rest-heading primary">26 Aug, 04:30 PM <span class="ion-float-right success">Accepted</span></h5>
                    <p class="small-content">Invitation @ Chai sutta bar</p>
                    <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
                  </ion-label>
                </ion-item>

                <ion-item class="rest_address_item mb-20" (click)="presentInvitationModal()">
                    <ion-label>
                      <h5 class="rest-heading primary">26 Aug, 04:30 PM <span class="ion-float-right success">Accepted</span></h5>
                      <p class="small-content">Invitation @ Chai sutta bar
                      <span class="ml-auto"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
                    </p>
                    </ion-label>
                </ion-item>
            
          </ion-col>
        </ion-row> -->
  </ion-grid>
</ion-content>