
<ion-content>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="backbar">
        <h5 class="page-heading">
          <ion-icon routerLink="/profile-dashboard" name="arrow-back"></ion-icon> &nbsp; Bookings
        </h5>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <h5 class="list-heading-2">Booking Requested</h5>

        <ion-item class="rest_address_item mb-20" routerLink="/booking/booked">
          <ion-label>
            <h5 class="rest-heading primary">Today, 04:30 PM</h5>
            <p class="small-content">Invitation @ Chai sutta bar</p>
            <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>