.btn-list{
    display: flex;
}
.btn-list h6{
    border: 1px solid rgba(60, 60, 60, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
    padding: 7px 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}
.btn-list .active{
    border: 1px solid #1966FB;
    color: #1966FB;
}