
<ion-content>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="backbar">
        <h5 class="page-heading">
          <ion-icon routerLink="/dashboard" name="arrow-back"></ion-icon> &nbsp; Bookings
        </h5>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <h5 class="list-heading-2">Booking Requested</h5>

        <ion-item class="rest_address_item mb-20" *ngFor="let book of bookingList; let i = index" (click)="presentBookingDetailsModal(i)">
          <ion-label>
            <h5   [ngClass]="((book.status ==3)|| (book.status ==2))?'invi-date danger':'invi-date primary'">{{book.toDate | date:'EEE,  d MMM ,  y'}}</h5>
            <p class="small-content">Booking | {{book.userDetails.name}} </p>
            <!-- <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span> -->
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>