<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="backbar">
          <h5 class="page-heading">
            <ion-icon (click)="dismiss()" name="arrow-back"></ion-icon>&nbsp; Social Profile
          </h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="profile-shadow-box">
        <ion-item lines="none">
          <ion-label class="ion-padding-top ion-padding-bottom">
            <h1 class="primary"><img src="assets/thumb_blue.png">&nbsp; 2,20,021</h1>
            <h5 class="social-content">fb.com/mani0.25.mani <span class="ion-float-right"> &nbsp; <img
                  src="assets/facebook.png"> &nbsp; Facebook</span></h5>
          </ion-label>
        </ion-item>
      </div>

      <div class="profile-shadow-box">
        <ion-item lines="none">
          <ion-label class="ion-padding-top ion-padding-bottom">
            <h1 class="pink"><img src="assets/User_pink.png">&nbsp; 2,20,021</h1>
            <h5 class="social-content">@manitesharma <span class="ion-float-right"> &nbsp; <img src="assets/insta.png">
                &nbsp; Instagram</span></h5>
          </ion-label>
        </ion-item>
      </div>

      <div class="profile-shadow-box">
        <ion-item lines="none">
          <ion-label class="ion-padding-top ion-padding-bottom">
            <h1 class="sky-blue"><img src="assets/blue_user.png">&nbsp; 2,20,021</h1>
            <h5 class="social-content">@manitesharma <span class="ion-float-right"> &nbsp; <img
                  src="assets/twitter.png"> &nbsp; Twitter</span></h5>
          </ion-label>
        </ion-item>
      </div>

      <div class="profile-shadow-box">
        <ion-item lines="none">
          <ion-label class="ion-padding-top ion-padding-bottom">
            <p class="orange"><img src="assets/list.png">&nbsp; Pending verification</p>
            <h5 class="social-content">@manitesharma <span class="ion-float-right"> &nbsp; <img
                  src="assets/tripadviser.png"> &nbsp; Tripadvisior</span></h5>
          </ion-label>
        </ion-item>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>