<div>
  <ion-icon style="font-size: 7vh; margin-right: 15px;" name="star" *ngFor="let num of [1,2,3,4,5]" (click)="star1(num)"
    [ngStyle]="{'color': getColor(num)}">
  </ion-icon>
</div>
<!-- <div>
  <ion-icon style="font-size: 7vh; margin-right: 15px;" name="star" *ngFor="let num of [1,2,3,4,5]" (click)="star2(num)" [ngStyle]="{'color': getColor(num)}">
  </ion-icon>
</div>
<div>
  <ion-icon style="font-size: 7vh; margin-right: 15px;" name="star" *ngFor="let num of [1,2,3,4,5]" (click)="star3(num)" [ngStyle]="{'color': getColor(num)}">
  </ion-icon>
</div>
<div>
  <ion-icon style="font-size: 7vh; margin-right: 15px;" name="star" *ngFor="let num of [1,2,3,4,5]" (click)="star4(num)" [ngStyle]="{'color': getColor(num)}">
  </ion-icon>
</div> -->