<!--  -->

<ion-list>
  <ion-item lines="none">
    <div slot="start" class="rest-img">
      <img src="assets/restaurent.png">
    </div>
    <ion-label>
      <h4 class="rest-heading">Chai Sutta Bar</h4>
      <p class="small-content">Veg, Cafe & restaurent <br>
        Navrangpura, Ahmedabad</p>
      <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <div slot="start" class="rest-img">
      <img src="assets/restaurent.png">
    </div>
    <ion-label>
      <h4 class="rest-heading">Chai Sutta Bar</h4>
      <p class="small-content">Veg, Cafe & restaurent <br>
        Navrangpura, Ahmedabad</p>
      <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <div slot="start" class="rest-img">
      <img src="assets/restaurent.png">
    </div>
    <ion-label>
      <h4 class="rest-heading">Chai Sutta Bar</h4>
      <p class="small-content">Veg, Cafe & restaurent <br>
        Navrangpura, Ahmedabad</p>
      <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <div slot="start" class="rest-img">
      <img src="assets/restaurent.png">
    </div>
    <ion-label>
      <h4 class="rest-heading">Chai Sutta Bar</h4>
      <p class="small-content">Veg, Cafe & restaurent <br>
        Navrangpura, Ahmedabad</p>
      <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <div slot="start" class="rest-img">
      <img src="assets/restaurent.png">
    </div>
    <ion-label>
      <h4 class="rest-heading">Chai Sutta Bar</h4>
      <p class="small-content">Veg, Cafe & restaurent <br>
        Navrangpura, Ahmedabad</p>
      <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <div slot="start" class="rest-img">
      <img src="assets/restaurent.png">
    </div>
    <ion-label>
      <h4 class="rest-heading">Chai Sutta Bar</h4>
      <p class="small-content">Veg, Cafe & restaurent <br>
        Navrangpura, Ahmedabad</p>
      <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
    </ion-label>
  </ion-item>
</ion-list>