<ion-content>

  <ion-slides options="myOptions" class="swiper-no-swiping">

    <ion-slide style="vertical-align:top">
      
      <ion-row class="part-1">
        <ion-col size="12">
          <span class="top-center-heading bold f-18" >Set your residance location</span>
        </ion-col>
    
      </ion-row>
      <ion-row class="part-2">
        <ion-col class="ion-no-padding">
    
          <img src="assets/Location_House.svg">
    
    
        </ion-col>
    
      </ion-row>
      <ion-row class="part-3">
    
        <ion-col size="12">
          <ion-row *ngIf="address.premisesNo ==''">
            <ion-col>
              <ion-label  class="text ion-text-start mb-25">
                <p> We need to know where you live so we can
                  make our suggestion
                  confortable for you</p>
              </ion-label>
            </ion-col>
  
          </ion-row>
  
          <ion-row *ngIf="address.premisesNo !==''">
            <ion-col size="8">
              <ion-label  class=" ion-text-start mb-25">
                <p>
  
                  {{address.premisesNo}} ,
                  {{address.locality}} ,
                  {{address.landmark}} ,{{address.city}} ,
                  <br>{{address.district}} , {{address.state}}
                  <br>
                  {{address.pincode}}
                </p>
              </ion-label>
            </ion-col>
            <ion-col size="4">
                <span  class=" primary"  (click)="next()">
                    Change</span>
            </ion-col>
          </ion-row>
       
    
        </ion-col>
    
      </ion-row>
    
      <ion-row class="part-4">
        <ion-col size="12">
          <div class="button-list ion-no-padding">
            <ion-button *ngIf="address.premisesNo =='' " (click)="next()" class="mybutton" color="primary">Set Location On Map</ion-button>
            <ion-button class="mybutton"  color="primary" (click)="saveAddress()" *ngIf="address.premisesNo !==''">Next</ion-button>
            <ion-button *ngIf="false" class="mybutton" color="primary">Primary</ion-button>
          </div>
        </ion-col>
    
      </ion-row>
      
      <!-- <ion-grid>
      
        <ion-row *ngIf="address.premisesNo ==''">
          <ion-col>
            <ion-label  class="text ion-text-start mb-25">
              <p> We need to know where you live so we can
                make our suggestion
                confortable for you</p>
            </ion-label>
          </ion-col>

        </ion-row>

        <ion-row *ngIf="address.premisesNo !==''">
          <ion-col size="8">
            <ion-label  class=" ion-text-start mb-25">
              <p>

                {{address.premisesNo}} ,
                {{address.locality}} ,
                {{address.landmark}} ,{{address.city}} ,
                <br>{{address.district}} , {{address.state}}
                <br>
                {{address.pincode}}
              </p>
            </ion-label>
          </ion-col>
          <ion-col size="4">
              <span  class=" primary"  (click)="next()">
                  Change</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="fixed-bottom-part">
        <ion-row>
          <ion-col>
            <ion-button *ngIf="address.premisesNo =='' " (click)="next()" size="large"
              class="proceed-button  ion-margin-top" expand="block">Set Location On Map
            </ion-button>
            <ion-button *ngIf="address.premisesNo !==''" size="large" (click)="saveAddress()"
              class="proceed-button  ion-margin-top" expand="block">Next
            </ion-button>
          
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-slide>

    <ion-slide style="vertical-align:top">
      <div id="locationField">
        <input id="autocomplete" clearInput clear-input="true" (focus)="changeMapHieght('100vh') ;"
          placeholder="Search and set location of your restaurant" type="text" />
      </div>
      <div #map id="map"></div>
      <div id="listing">
        <table id="resultsTable">
          <tbody id="results"></tbody>
        </table>
      </div>

      <div *ngIf="bloggerAddress.formatted_address" class="map-setting-part">

        <form #addressForm="ngForm">

          <p style="font-weight: bold;">{{bloggerAddress?.name}}</p>

          <h6 class="ion-text-left main-light-color" style="font-size: 14px;">
            {{bloggerAddress?.formatted_address}} </h6>


          <ion-item class="mb-20">
            <ion-label class="lable-style" position="stacked">Premise No</ion-label>
            <ion-input class="input-style" [(ngModel)]="address.premisesNo" name=" address">
            </ion-input>
          </ion-item>


          <ion-item class="mb-20">
            <ion-label class="lable-style" position="stacked">Locality</ion-label>
            <ion-input class="input-style" [(ngModel)]="address.locality" name="locality"></ion-input>
          </ion-item>

          <ion-item class="mb-20">
            <ion-label class="lable-style" position="stacked">LandMark</ion-label>
            <ion-input class="input-style" [(ngModel)]="address.landmark" name="landMark">
            </ion-input>
          </ion-item>


          <ion-row>
            <ion-col>
              <ion-button expand="block" color='undefine' (click)="previous()" class="full-with-btn  mt-20">SET
                LOCATION</ion-button>
            </ion-col>
          </ion-row>


        </form>

      </div>
    </ion-slide>

  </ion-slides>
</ion-content>