<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="backbar">
          <h5 class="page-heading">
            <ion-icon (click)="back()" name="arrow-back"></ion-icon> &nbsp; New Invitation
          </h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" class="rest_address_item">
          <div slot="start" class="rest-img">
            <img src="assets/restaurent.png">
          </div>
          <ion-label>
            <h4 class="rest-heading">Chai Sutta Bar</h4>
            <p class="small-content">Veg, Cafe & restaurent <br>
              Navrangpura, Ahmedabad</p>
            <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item lines="none mb-30">
              <ion-label class="time-heading danger">Today , 04:30 pm</ion-label>
              <ion-note class="small-content" slot="end">in 2 hours</ion-note>
            </ion-item>

        <p class="ico-list">
            <img class="ico-small" src="assets/pass.svg">&nbsp; Invitation for 2 people
        </p>
        <p class="ico-list">
            <img class="ico-small" src="assets/dollar_gray.svg">&nbsp; Paid Review
        </p>
        <p class="ico-list success">
            <img class="ico-small" src="assets/success.svg">&nbsp; Invitation Accepted
        </p>
        <p class="ico-list danger">
            <img class="ico-small" src="assets/cross.svg">&nbsp; Appointment Cancelled
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="6">
          <ion-button expand="block" shape="round" fill="outline" color="primary" class="border-btn">
              <img class="ico-img" src="assets/call.svg">&nbsp; Get Directions
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="callRestaurant(9017697290)" expand="block" shape="round" fill="outline" color="primary" class="border-btn">
              <img class="ico-img" src="assets/direction.svg">&nbsp; Call Restaurent
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>

  <div *ngIf="x!==2" (click)="x=2" class="panel-card fixed-bottom-Cancel-div cancel-transition fixed-back-white">
    <h5 class="panel-heading ion-margin-bottom">Cancel Invitation</h5>
    <p class="small-content ion-margin-bottom">Are you sure you want to cancel the invitation</p>
    <ion-button color="light" size="large" class="cancel-button ion-margin-top" expand="block">No, Please Don’t Cancel </ion-button>
  <ion-button color="danger" size="large" class="cancel-button ion-margin-top" expand="block" (click)="cancelInvitaion()">Yes, Cancel My Appointment </ion-button>

</div>


  <ion-grid *ngIf="x==2" class="fixed-bottom-button">
    <ion-row>
      <ion-col>
          <ion-button (click)="x=1" class="light-danger-btn proceed-button" expand="block">CANCEL APPOINTMENT
        </ion-button>
        <ion-button class="proceed-button" expand="block" color="danger">REJECT
        </ion-button>
        <ion-button class="proceed-button" expand="block" color="primary">ACCPET INVITATION 
        </ion-button>
        <div class="crab-bootm-vector">
          <img src="assets/CRAB_Vector.svg">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> 