ion-content {
    --background: #ffffff;
  }
    ion-slides{
        height: 100%;
  }
  ion-slide{
    display: block;
    background: url(/assets/Background-3.svg) 45% 4%/87% 49% no-repeat !important;
  }


// css by nyaz


  .veg , .non-veg{
    transition : all 600ms;
}


.non-veg-hide .non-veg{
  transform-origin: left;
transform: scale(0) translateX(100px);
opacity: 0;
}
.non-veg-hide .veg{
  transform : scale(1.2) translatex(-60px) translatey(-20px);
  transform-origin: right
}


.img-Height {
  height: 40vh;
}

.content-scroll{
 height: 70vh;
 overflow-y: scroll; 
}

// end css










  .sllide-dark-heading{
    font-weight: bold;
    font-size: 19px;
    line-height: 27px;
    color: #0F2F54;
    margin-bottom: 15px;
  }
  .input-style{
    border: 0.5px solid #C4C4C4;
      border-radius: 5px;
      --padding-start: 10px;
      font-size: 14px;
      --padding-top: 15px;
      --padding-bottom: 13px;
  }
  .lable-style{
    background-color: white;
    width: fit-content;
    padding: -2px 5px;
    padding: 0 10px;
    position: relative;
    font-size: 11px !important;
    top: 12px;
    left: 12px;
    z-index: 9;
    color:rgba(0,0,0,0.4);
  }
  
  .otp-change-no{
    color: rgba(0,0,0,0.4);
  }
  // .crab-bootm-vector{
  //   overflow: hidden;
  //   position: fixed;
  //   top:93vh;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  // }
  .crab-bootm-vector img{
    height: 2vh;
    width: auto;
    background-size: cover;
  }
  .top-illu-box{
    -background: url('/assets/Background.svg') 0 0/100% 85% no-repeat !important;
    height: 50vh;
    padding-top: 5vh;
  }
  .top-illu-box img{
    height: auto;
  }
  .top-verify-illu-box{
    -background: url('/assets/Background.svg') 0 0/100% 60% no-repeat !important;
    height: 55vh;
  }
  .top-verify-illu-box img{
   height:55vh;
   background-repeat: no-repeat;
  }
  .veryfied{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .veryfied img{
    height: 30px;
    width: auto;
    }
  .svg-image-box{
    -background: url('/assets/Background.svg') 0 0/100% 85% no-repeat !important;
    height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .svg-image-box-2{
    -background: url('/assets/Background.svg') 0 0/100% 85% no-repeat !important;
    height: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .svg-image-box img{
    height: auto;
  }


