.ico-box{
    background: #1966FB;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 5px;
    color: #ffffff;
    font-size: 15px;
}

.title-heading{
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}
.time-slot-box{
    background: #FBFBFD;
    border: 0.5px dashed #FFFFFF;
    box-shadow: 5px 5px 10px rgba(55, 84, 170, 0.1), -5px -5px 10px #FFFFFF, inset 2px 2px 5px rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    width: 100%;
    padding: 7px 15px;
    margin-top: 22px;
}
.list-title{
    line-height: 27px;
    font-weight: 400;
}