ion-content {
  --background: #ffffff;
}
  ion-slides{
      height: 100%;
      // --background: url('/assets/Background_with_CRAB.svg') 0 0/100% 85% no-repeat;
}
ion-slide{
    display: block;
  --background: url('/assets/Background_with_CRAB.svg') 0 0/100% 85% no-repeat !important;
}
.sllide-dark-heading{
  font-weight: bold;
  font-size: 19px;
  line-height: 27px;
  color: #0F2F54;
  margin-bottom: 15px;
}
.input-style{
  border: 0.5px solid #C4C4C4;
    border-radius: 5px;
    --padding-start: 10px;
    font-size: 14px;
    --padding-top: 15px;
    --padding-bottom: 13px;
}
.lable-style{
  background-color: white;
  width: fit-content;
  padding: -2px 5px;
  padding: 0 10px;
  position: relative;
  font-size: 11px !important;
  top: 12px;
  left: 12px;
  z-index: 9;
  color:rgba(0,0,0,0.4);
}
.fixed-bottom-part {
  position: fixed;
  bottom: 15%;
  padding: 10px;
  width: 100%;
}
.fixed-bottom-part-2 {
  position: fixed;
  bottom: 0%;
  width: 100%;
}
.otp-change-no{
  color: rgba(0,0,0,0.4);
}
.image-box{
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
}
.image-box img{
  height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}