.panel-card{
    border-radius: 21px 21px 0px 0px;
    padding: 20px 20px 40px 20px;
    box-shadow: 0px -5px 33px rgba(0, 0, 0, 0.1);
    border-radius: 21px 21px 0px 0px;
    margin-top: -15px;
}
.fixed-back-white{
    background: #FFFFFF;
}
.crab-bootm-vector {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 20px;
}
.cancel-button {
    --border-radius: 5px;
    height: 7vh;
    font-size: 14px;
    letter-spacing: 0.2px;
    background-color: #FFEDED;
    color: #FF4949;

}
.fixed-bottom-Cancel-div {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
}