<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="backbar">
          <h5 class="page-heading">
            <ion-icon (click)="back()" name="arrow-back"></ion-icon> &nbsp; Booking Requested
          </h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" class="rest_address_item">
          <div slot="start" class="rest-img">
            <img src="assets/restaurent.png">
          </div>
          <ion-label>
            <h4 class="rest-heading">Chai Sutta Bar</h4>
            <p class="small-content">Veg, Cafe & restaurent <br>
              Navrangpura, Ahmedabad</p>
            <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>

          <ion-item lines="none mb-30">
              <ion-label class="time-heading">23 Aug , 02:30 pm</ion-label>
              <ion-note class="small-content" slot="end">Tuesday</ion-note>
            </ion-item>

        <p class="ico-list success">
            <img class="ico-small" src="assets/toys.svg">&nbsp; Booking Confirmed
        </p>
        <p class="ico-list">
            <img class="ico-small" src="assets/pass.svg">&nbsp; Booking for 2 people
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="6">
          <ion-button expand="block" shape="round" fill="outline" color="primary" class="border-btn">
              <img class="ico-small" src="assets/direction.svg">&nbsp; Get Directions
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" shape="round" fill="outline" color="primary" class="border-btn">
              <img class="ico-small" src="assets/call.svg">&nbsp; Call Restaurent
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid class="fixed-bottom-button">
    <ion-row>
      <ion-col>
          <ion-button size="large" class="light-danger-btn proceed-button ion-margin-top" expand="block">CANCEL APPOINTMENT
        </ion-button>
        <div class="crab-bootm-vector">
            <img src="assets/CRAB_Vector.svg">
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>