<ion-content class="padding-0">
  <div class="top-green-bar">
    <h1 class="prof-name">
      <ion-icon slot="start" name="arrow-dropleft"></ion-icon> &nbsp; Hi, {{userDetails.name}}
    </h1>
    <ion-row style="padding-left: 40px;">
      <ion-col size="3">
        <div class="review-list">
          <h6>22</h6>
          <span>Reviews</span>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="review-list">
          <h6>22</h6>
          <span>Invites</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="view-profile" (click)="presentProfileModal()">
          <p>View Profile <ion-icon slot="start" name="arrow-forward"></ion-icon>
          </p>
        </div>
      </ion-col>
      <div class="curve"></div>
    </ion-row>
  </div>
  <ion-grid class="p-12 top-set">
    <ion-row>
      <ion-col>
        <h5 class="list-heading">Upcoming Appointments</h5>
        <div class="slider-appointment">

          <div class="white-box ion-margin-bottom" (click)="presentBookingModal()">
            <h6 class="ion-text-start sllide-box-heading danger">Today</h6>
            <p style="line-height: 1 !important;" class="text ion-text-start">Invitation at 04:30 pm</p>
            <p class="text ion-text-start">Chai Sutta Bar <span class="ion-float-right"> 3.2km &nbsp; <img
                  src="assets/km-arrorw.svg"> </span></p>
          </div>

          <div class="white-box ion-margin-bottom" (click)="presentBookingModal()">
            <h6 class="ion-text-start sllide-box-heading danger">Today</h6>
            <p style="line-height: 1 !important;" class="text ion-text-start">Invitation at 04:30 pm</p>
            <p class="text ion-text-start">Chai Sutta Bar <span class="ion-float-right"> 3.2km &nbsp; <img
                  src="assets/km-arrorw.svg"> </span></p>
          </div>

          <div class="white-box-view-more ion-margin-bottom"  routerLink="/booking">
            <p class="ion-text-center primary">View All    ></p>
           
          </div>

        </div>
      </ion-col>
    </ion-row>
    <ion-row class=" ion-margin-bottom">
    
      <ion-toolbar>
          <ion-searchbar (click)="presentRestaurantModal()" placeholder="Search Restaurent"></ion-searchbar>
          <ion-buttons slot="end">
              <ion-button class="filter-btn" color="none"><img src="assets/filter.svg">&nbsp; Filter</ion-button>
          </ion-buttons>
        </ion-toolbar>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item (click)="presentRestaurantDetailsModal(restaurant.mobile)" lines="none" *ngFor="let restaurant of restaurantDetails" class="rest_address_item mb-15">
          <div slot="start" class="rest-img">
            <img *ngIf="restaurant.profilePic" [src]="restaurant.profilePic">
            <img *ngIf="!restaurant.profilePic" src="assets/restaurent.png">
          </div>
          <ion-label>
            <h4 class="rest-heading">{{restaurant.name}}</h4>
            <p class="small-content">
               <ng-container *ngIf="restaurant.foodType==1">
              Veg
            </ng-container>
            <ng-container *ngIf="restaurant.foodType==2">
              Nonveg
            </ng-container>
            <ng-container *ngIf="restaurant.foodType==3">
    
              Veg & Nonveg
            </ng-container>
            <ng-container *ngIf="restaurant.restaurantType==1">
              Cafe
            </ng-container>
            <ng-container *ngIf="restaurant.restaurantType==2">
              Restaurent
            </ng-container>
            <ng-container *ngIf="restaurant.restaurantType==3">
    
              Cafe & Restaurent
            </ng-container> <br>
              {{restaurant.address.locality}}, {{restaurant.address.city}}</p>
            <span class="km-part"> {{restaurant.distanceFromBlogger | number:'2.1-2'}}km &nbsp; <img src="assets/km-arrorw.svg"> </span>
          </ion-label>
        </ion-item>

       
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>