<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="backbar">
            <h5 class="page-heading">
              <ion-icon name="arrow-back" routerLink="/dashboard"></ion-icon>
            </h5>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="pro-pic"></div>
          <h6 text-center class="ion-margin-bottom">Manishanker Sharma</h6>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="rest_address_item" style="border-top: .5px solid rgba(0, 0, 0, 0.1);" routerLink="/profile">
            <ion-label class="ion-padding-top ion-padding-bottom">
              <h5><img class="ico-small" src="assets/profile.svg">&nbsp; Profile<span class="ion-float-right success">
                  &nbsp; &nbsp; <img src="assets/arrow-right.svg"></span></h5>
            </ion-label>
          </ion-item>

          <ion-item class="rest_address_item" routerLink="/booking">
            <ion-label class="ion-padding-top ion-padding-bottom">
              <h5><img class="ico-small" src="assets/booking.svg">&nbsp; Bookings<span class="ion-float-right"> &nbsp;
                  &nbsp; <ion-icon class="arrow-forword" name="arrow-forward"></ion-icon></span></h5>
            </ion-label>
          </ion-item>

          <ion-item class="rest_address_item"  routerLink="/invitation">
            <ion-label class="ion-padding-top ion-padding-bottom">
              <h5><img class="ico-small" src="assets/invitation.svg">&nbsp; Invitations<span
                  class="ion-float-right primary">2 New Recived &nbsp; &nbsp; <ion-icon class="arrow-forword"
                    name="arrow-forward"></ion-icon></span></h5>
            </ion-label>
          </ion-item>

          <ion-item class="rest_address_item"  routerLink="/review">
            <ion-label class="ion-padding-top ion-padding-bottom">
              <h5><img class="ico-small" src="assets/review.svg">&nbsp; Reviews<span class="ion-float-right primary">New
                  Request &nbsp; &nbsp; <ion-icon class="arrow-forword" name="arrow-forward"></ion-icon></span></h5>
            </ion-label>
          </ion-item>

          <ion-item class="rest_address_item">
            <ion-label class="ion-padding-top ion-padding-bottom" routerLink="/booking">
              <h5><img class="ico-small" src="assets/review.svg">&nbsp; Social Profiles<span
                  class="ion-float-right danger">Attention Required &nbsp; &nbsp; <ion-icon class="arrow-forword"
                    name="arrow-forward"></ion-icon></span></h5>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="fixed-bottom-button">
      <ion-row>
        <ion-col>
          <ion-item class="rest_address_item" style="border-top: .5px solid rgba(0, 0, 0, 0.1);">
            <ion-label class="ion-padding-top ion-padding-bottom">
              <h5 class="danger"><img class="ico-small" src="assets/logout.svg">&nbsp; Logout</h5>
            </ion-label>
          </ion-item>
          <div class="crab-bootm-vector">
            <img src="assets/CRAB_Vector.svg">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

